/* The following block can be included in a custom.scss */

/* override bootstrap varibles */
$theme-colors: (
  "blue": #377dff,
  "indigo": #6610f2,
  "purple": #6f42c1,
  "pink": #e83e8c,
  "red": #ed4c78,
  "orange": #fd7e14,
  "yellow": #f5ca99,
  "green": #28a745,
  "teal": #00c9a7,
  "cyan": #00c9db,
  "white": #fff,
  "gray": #8c98a4,
  "gray-dark": #71869d,
  "primary": #377dff,
  "secondary": #71869d,
  "success": #00c9a7,
  "info": #00c9db,
  "warning": #f5ca99,
  "danger": #ed4c78,
  "light": #f9fafc,
  "dark": #132144,
);

/* import bootstrap to set changes */
// @import "bootstrap/dist/css/bootstrap.min.css"; //for css
@import "~bootstrap/scss/bootstrap"; //for sass

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

// custom variables
$bg-light: #f3f2ee;
$secondary: #4b4b4b;

//root variable for theming
:root {
  --bg-light: #{$bg-light};
  --data-color-secondary: #{$secondary};
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  height: calc(100vh - 62px);
}

.navbar-dark {
  padding: 1rem;
  .navbar-brand {
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    padding: 0;
  }
}

.table {
  td {
    vertical-align: middle;
  }
}

.btn-lg {
  min-width: 125px;
}
